
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

body{
    background-color: #cd202d;
}
.container{
    width: min(90%,500px);
    position:absolute;
    background-color: #1b1b1b;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 4em 2em;
    border-radius: 0.5em;
}
button{
    border: none;
    outline: none;
    cursor: pointer;
}
.buttons{
    display: flex;
    gap: 1em;
    justify-content: center;
}
.btn{
    padding: 1em 2em;
    border-radius: 0.5em;
     background-color: #3e3f43;
     color: #a9a7a7;
}
.btn-focus{
  background-color: #cd202d;
  color: #ffffff;
}
#time-container{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}
#time{
    text-align: center;
    color: #ffffff;
    font-size: 5em;
    font-weight: 600;
}
.btn-container{
    display: flex;
    justify-content: center;
    gap: 2em;

}
#start ,#pause{
    padding: 1em 2em;
    border-radius: 0.5em;
    background-color: #ffffff;
}
#reset{
    border: none;
    outline: none;
    background-color: transparent;
    color: #ffffff;
    font-size: 2em;
}
.hide{
    display: none;
}
.show{
    display: block;
}